/* CSS Document */
/*https://coolors.co/042a2b-269fe0-ed2f2f-ff723a-ffc935*/
/*PAGE LAYOUT*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#fullPage{

        background-color: #042a2b;
}
#logo{float:left; width:274px; height:900px;}
#title {
    color:#fffffff;
}
#topheader{float:right; width:805px; 
height:35px; 
 background-color:  #269fe0; position:relative;
    top: 0px;
    left: 0px;
}
#toplinks{position:absolute; right:11px; 
top:12px;
    width: 307px;
}
.control {
    font-family: "Segoe UI";
    border-radius: 25px;
    color: #ffffff;
    background-color: #454545;
}
#menu{
float:left; width:267px; 
height:225px; 
background-color:#454545;
background-repeat:repeat-x;
margin-left: 8px;
}
.menuItem{
float:left; 
color:#ffffff;
font-family:"Segoe UI";
font-size:20px;
width: 135px;
text-decoration:none;
}
    .menuItem:hover {
        float: left;
        background-color: #269fe0;
        color: #ffffff;
        font-family: "Segoe UI";
        font-size: 22px;
        width: 135px;
        text-decoration: none;
    }
#submenu{float:right; width:526px; height:32px; background-image:url(bg_submenu.gif); background-position:top; background-repeat:repeat-x;}
#contenttext{
    background-color: #454545;
    float:left; width:804px;
    margin-left: 0px;
    height: 866px;
}
#leftpanel{float:left; width:274px;}
#footer{float:left; width:1058px; 
background-color:#ed2f2f; padding:10px;
}

/*GRAY PANEL*/
.graypanel{
	border:solid 1px #666666; background-color:#F7F7F7; padding:10px; margin:10px;
}

/*TEXT STYLES*/
.bodytext {
	font: 0.7em Tahoma, sans-serif;
	color: #666666;
}

.titletext {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#CC0000;
}
.whitetitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#ffffff;
}
.smalltitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#CC0000;
}
.smallwhitetext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
}
.smallwhitetext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration:none;
}
.smallwhitetext a:hover{
	text-decoration:underline;
}
.smallgraytext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#ffffff;
}
.smallgraytext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
	text-decoration:none;
}
.smallgraytext a:hover{
	text-decoration:underline;
}
.smallredtext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
}
.smallredtext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
	text-decoration:none;
}
.smallredtext a:hover{
	text-decoration:underline;
}
.button:hover {
    background-color: #ed2f2f;
}